@import url('http://fonts.cdnfonts.com/css/apple-ii-screen-typeface');

.partOne{
    color: lightgreen;
    font-family: 'Apple II Screen Typeface', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(50, end),
      blink-caret .75s step-end infinite;
    text-decoration: underline;
}
.partTwo{
    color: lightgreen;
    font-family: 'Apple II Screen Typeface', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(50, end),
      blink-caret .75s step-end infinite;
    text-decoration: underline;
}
.myDiv{
    color: white;
    font-family: 'Apple II Screen Typeface', sans-serif;
    letter-spacing: .15em;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
.title{
  background-color: black;
  color: lightgreen;
  font-family: 'Apple II Screen Typeface', sans-serif;
}
.index{
    background-color: black;
    text-align: center;
}
.submitButton{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Apple II Screen Typeface', sans-serif;
  background-color: lightgreen;
  transition: 0.2s;
  font-size: 17px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
.submitButton:hover{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
}
.inputPartOne{
  font-family: 'Apple II Screen Typeface', sans-serif;
  background-color:lightgreen;
  color: black;
  border-radius: 5px;
}
.build1{
  padding: 5px;
  font-family: 'Apple II Screen Typeface', sans-serif;
  background-color: lightgreen;
  border-radius: 5px;
}
.backButton{
  font-family: 'Apple II Screen Typeface', sans-serif;
  background-color: lightgreen;
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 5px;
}
.breakerBuild{
  color: white;
  font-family: 'Apple II Screen Typeface', sans-serif;
}
